<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="js.js"></script>
    <h:head>
        <title>Warlock Armory</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="content"> 
                <p>
                This is the index
                </p>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

