<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <!-- Inserted into admin page with ui:include -->
    <h3>Add Player</h3>
    <h:form>
        <h:panelGrid columns="3">
            <h:outputText value="Id" />
            <h:inputText id="id" value="Set by database" disabled="true"/>
            <h:message for="id" />
            <h:outputText value="User Name" />
            <h:inputText id="name" value="#{addplayer.name}"/>
            <h:message for="name" />
            <h:outputText value="Rating" />
            <h:inputText id="rating" value="#{addplayer.rating}"/>
            <h:message for="rating" />
            <h:outputText value="E-Mail" />
            <h:inputText id="email" value="#{addplayer.email}"/>
            <h:message for="email" />
        </h:panelGrid>                 
        <h:commandButton action="#{addplayer.save}" value="Save" />
    </h:form>
</html>
