<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="content">
                <h:panelGroup id="aMenu" layout="block">
                    <h:form>
                        <f:ajax render=":contentform">
                            <nav class="menu">
                                <ul id="nav">
                                    <li><h:commandLink value="Add Player" action="#{adminbean.setPage('addPlayers')}">
                                        </h:commandLink></li>
                                    <li><h:commandLink value="Add Item" action="#{adminbean.setPage('addItem')}" /></li>
                                    <li><h:commandLink value="Modify Player" action="#{adminbean.setPage('modifyPlayer')}" /></li>
                                    <li><h:commandLink value="Logout" action="#{auth.logout}" /></li>
                                </ul>
                            </nav>
                        </f:ajax>
                    </h:form> 
                </h:panelGroup>
                <h:panelGroup id="aContent" layout="block">
                    <h:form id="contentform">
                        <h:panelGroup rendered="#{adminbean.page == 'index'}">
                            <h3>Admin index page!</h3>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{adminbean.page == 'addPlayers'}">
                            <ui:include src="addPlayers.xhtml" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{adminbean.page == 'addItem'}">
                            <ui:include src="notYetImplemented.xhtml" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{adminbean.page == 'modifyPlayer'}">
                            <ui:include src="modifyPlayer.xhtml" />
                        </h:panelGroup>
                    </h:form>
                </h:panelGroup>
            </ui:define>
        </ui:composition>

    </h:body>
</html>
