<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="content">     
                <h:form>
                    <h:panelGrid columns="3">
                        <h:outputText value="Search on id" />
                        <h:outputText value="#{searchPlayer.name}" />
                    </h:panelGrid>
                    <h:commandButton action="#{searchPlayer.search()}" value="Search"/>
                </h:form>
                <h:graphicImage value="resources/img/itembeta.png" />
            </ui:define>
        </ui:composition>
    </h:body>
</html>
