<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="content">
                <h:form>
                    <h:panelGrid columns="3">
                        <h:outputText value="Find player by name:" />
                        <h:inputText id="name" value="#{findplayer.name}"/>
                        <h:message for="name" />
                    </h:panelGrid>
                    <h:commandButton action="#{findplayer.search()}" value="Search"/>
                    <h:panelGroup id="output">
                        <h:dataTable var="p" value="#{findplayer.getFoundPlayers()}"
                                     styleClass="full-width-table"
                                     headerClass="full-width-table-header"
                                     rowClasses="full-width-table-row"
                                     rendered="#{findplayer.playerFound == 1}">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText  value="Name"/> 

                                </f:facet>
                                <h:outputLink id='profileLink' value='viewPlayer.xhtml'>
                                    <f:param name='id' value='#{p.id}'/>
                                    <h:outputText value='#{p.userName}'/>
                                </h:outputLink>

                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText  value="Rating"/> 
                                </f:facet>
                                <h:outputText value="#{p.stats.rating}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText  value="Played"/>
                                </f:facet>
                                <h:outputText value="#{p.stats.wins + p.stats.losses}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText  value="Wins"/>
                                </f:facet>
                                <h:outputText value="#{p.stats.wins}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText  value="Kills"/>
                                </f:facet>
                                <h:outputText value="#{p.stats.kills}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText  value="Deaths"/>
                                </f:facet>
                                <h:outputText value="#{p.stats.deaths}"/>
                            </h:column>
                        </h:dataTable>
                        <h:outputText value="Player not found!" rendered="#{findplayer.playerFound == 2}"/>
                    </h:panelGroup>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
