<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="content"> 
                <p>
                    <b>Welcome to the Armory!</b>
                </p>
                <p>This is a beta version of an armory for the upcoming game with project name Warlocks.
                    <br></br>
                     In this site, you can browse the players of the game, inspect their armor and look at their recent matches.
                     <br></br>
                     </p>
                <p>Navigate by using the menu bar on the top of the page. 
                    <br></br>
                    To find your character, simply search for your user name in the 'Find Player'-page or look for it in the leaderboard.
                    <br></br>
                    The function to add a new player or modify the gear of an existing one is currently restricted to admins only.
                    
                </p>
                
            </ui:define>
        </ui:composition>
    </h:body>
</html>

