<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="content">
                <div class="product-table">
                    <h:dataTable var="p" value="#{leaderboard.getPlayers(param['order'],param['start'],param['sortBy'])}"
                                 styleClass="full-width-table"
                                 headerClass="full-width-table-header"
                                 rowClasses="full-width-table-row">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText  value="Id"/>
                            </f:facet>
                            <h:outputText value="#{p.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLink value="leaderboard.xhtml">
                                    <f:param name='sortBy' value='name'/>
                                    <f:param name='start' value="#{param['start']}"/>
                                    <f:param name='order' value="#{leaderboard.reverseOrder('name', param['sortBy'], param['order'])}"/>
                                    <h:outputText  value="Name"/> 
                                </h:outputLink>
                            </f:facet>
                            <h:outputLink id='profileLink' value='viewPlayer.xhtml'>
                                <f:param name='id' value='#{p.id}'/>
                                <h:outputText value='#{p.userName}'/>
                            </h:outputLink>

                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLink value="leaderboard.xhtml">
                                    <f:param name='sortBy' value='rating'/>
                                    <f:param name='start' value="#{param['start']}"/>
                                    <f:param name='order' value="#{leaderboard.reverseOrder('rating', param['sortBy'], param['order'])}"/>
                                    <h:outputText  value="Rating"/> 
                                </h:outputLink>
                            </f:facet>
                            <h:outputText value="#{p.stats.rating}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText  value="Played"/>
                            </f:facet>
                            <h:outputText value="#{p.stats.wins + p.stats.losses}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText  value="Wins"/>
                            </f:facet>
                            <h:outputText value="#{p.stats.wins}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText  value="Kills"/>
                            </f:facet>
                            <h:outputText value="#{p.stats.kills}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText  value="Deaths"/>
                            </f:facet>
                            <h:outputText value="#{p.stats.deaths}"/>
                        </h:column>
                    </h:dataTable>
                    <h:outputLink value="leaderboard.xhtml">

                        <f:param name='sortBy' value="#{param['sortBy']}"/>
                        <f:param name='start' value="#{leaderboard.prev(param['start'])}"/>
                        <f:param name='order' value="#{param['order']}"/>

                        <h:outputText  value="Prev"/> 
                    </h:outputLink>
                    <h:outputLink value="leaderboard.xhtml">

                        <f:param name='sortBy' value="#{param['sortBy']}"/>
                        <f:param name='start' value="#{leaderboard.next(param['start'])}"/>
                        <f:param name='order' value="#{param['order']}"/>

                        <h:outputText  value="Next"/> 
                    </h:outputLink>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
