<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <!-- Inserted into admin page with ui:include -->
    <h:form>
        <h3>Modify Player!</h3>
        <h:panelGrid columns="4">            
            <h:outputText value="Find player by name:" />
            <h:inputText id="name" value="#{modifyplayer.selectedPlayerName}"/>
            <h:commandButton action="#{modifyplayer.searchByName()}" value="Search"/>
            <h:message for="name" />
        </h:panelGrid>
        <h:panelGroup id="output">
            <h:form rendered="#{modifyplayer.status == 1}">
                <h:panelGrid columns="3">
                    <h:outputText value="Username:" />
                    <h:inputText id="name2" value="#{modifyplayer.selectedPlayerName}" disabled="true"/>
                    <h:message for="name2" />
                    <h:outputText value="Helm:" />
                    <h:inputText id="helm" value="#{modifyplayer.helmName}"/>
                    <h:message for="helm" />
                    <h:outputText value="Chest:" />
                    <h:inputText id="chest" value="#{modifyplayer.chestName}"/>
                    <h:message for="chest" />
                    <h:outputText value="Gloves:" />
                    <h:inputText id="gloves" value="#{modifyplayer.gloveName}"/>
                    <h:message for="gloves" />
                    <h:outputText value="Boots:" />
                    <h:inputText id="boots" value="#{modifyplayer.bootName}"/>
                    <h:message for="boots" />
                    <h:commandButton value="update" action="#{modifyplayer.save()}"/>
                </h:panelGrid>
            </h:form>
            <h:outputText value="Player not found!" rendered="#{modifyplayer.status == 2}"/>
        </h:panelGroup>
    </h:form>
</html>
