<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h3 style="position:absolute; top: 45px; left: 5px">Player stats:</h3>
    <h:panelGrid columns="2" class="playerInfoTable">
            <h:outputText value="Kills:"/>
            <h:outputText value="#{playerProfile.getPlayer().stats.kills}" />

            <h:outputText value="Deaths:"/>
            <h:outputText value="#{playerProfile.getPlayer().stats.deaths}" />

            <h:outputText value="Assists:"/>
            <h:outputText value="#{playerProfile.getPlayer().stats.assists}" />

            <h:outputText value="Won:"/>
            <h:outputText value="#{playerProfile.getPlayer().stats.wins}" />

            <h:outputText value="Lost:"/>
            <h:outputText value="#{playerProfile.getPlayer().stats.losses}" />

            <h:outputText value="Played:"/>
            <h:outputText value="#{playerProfile.getPlayer().stats.wins+playerProfile.getPlayer().stats.losses}" />
    </h:panelGrid>
</html>
