<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="content">
                <h:panelGroup id="vMenu" layout="block">
                    <h:form>
                        <f:ajax render=":contentform">
                            <nav class="menu">
                                <ul id="nav">
                                    <li>
                                        <h:commandLink value="Info" action="#{viewplayerbean.setPage('viewPlayerInfo')}">
                                            <f:param name="id" value="#{param['id']}"/>
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink value="Stats" action="#{viewplayerbean.setPage('viewPlayerStats')}">
                                            <f:param name="id" value="#{param['id']}"/>
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink value="Gear" action="#{viewplayerbean.setPage('viewPlayerGear')}">
                                            <f:param name="id" value="#{param['id']}"/>
                                        </h:commandLink>
                                    </li>
                                </ul>
                            </nav>
                        </f:ajax>
                    </h:form>
                </h:panelGroup>
                <h:panelGroup layout="block">
                    <h:form id="contentform">
                        <h:panelGroup rendered="#{viewplayerbean.page == 'viewPlayerInfo'}">
                            <ui:include src="viewPlayerInfo.xhtml"/>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{viewplayerbean.page == 'viewPlayerStats'}">
                            <ui:include src="viewPlayerStats.xhtml"/>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{viewplayerbean.page == 'viewPlayerGear'}">
                            <ui:include src="viewPlayerGear.xhtml"/>
                        </h:panelGroup>

                    </h:form>
                </h:panelGroup>

                <div class="playerMatchInfo">
                    <h3>Recent matches:</h3>
                    <h:dataTable var="p" value="#{playerProfile.getMatches()}"
                                 styleClass="player-match-table"
                                 headerClass="player-match-table-header"
                                 rowClasses="player-match-table-row">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Match id"/>
                            </f:facet>
                            <h:outputLink id='profileLink' value='viewMatch.xhtml'>
                                <f:param name='id' value='#{p.id}'/>
                                <h:outputText value="Match ID: #{p.id}"/>
                            </h:outputLink>

                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Date"/>
                            </f:facet>
                            <h:outputText value="#{p.date}"/>
                        </h:column>
                    </h:dataTable>
                </div>

                <img src="/frontend/resources/img/gubben.png" class="characterImg"/>
                <span class="trigger" data-tooltip="#chestTooltip">
                    <img src="/frontend/resources/img/items/chest/#{playerProfile.getArmor().img_name}" class="characterArmorImg"/> 
                </span>
                <span class="trigger" data-tooltip="#headTooltip">
                    <img src="/frontend/resources/img/items/helms/#{playerProfile.getHelm().img_name}" class="characterHelmImg"/> 
                </span>
                <span class="trigger" data-tooltip="#gloveTooltip">
                    <img src="/frontend/resources/img/items/gloves/#{playerProfile.getGloves().img_name}left.png" class="characterGloveImg1"/> 
                    <img src="/frontend/resources/img/items/gloves/#{playerProfile.getGloves().img_name}right.png" class="characterGloveImg2"/> 
                </span>
                <span class="trigger" data-tooltip="#bootTooltip">
                    <img src="/frontend/resources/img/items/boots/#{playerProfile.getBoots().img_name}" class="characterBootImg"/> 
                </span>
                <div class="tooltip" id="chestTooltip">
                    <h2>#{playerProfile.getArmor().name}</h2>
                    <b>Stats:</b><br/>
                    Damage: <font color="#{playerProfile.getColor(playerProfile.getArmor().damage)}">#{playerProfile.getArmor().damage}%</font><br/>
                    Armor:  <font color="#{playerProfile.getColor(playerProfile.getArmor().armor)}">#{playerProfile.getArmor().armor}%</font><br/>
                    Haste:  <font color="#{playerProfile.getColor(playerProfile.getArmor().haste)}">#{playerProfile.getArmor().haste}%</font><br/>
                    Movementspeed:  <font color="#{playerProfile.getColor(playerProfile.getArmor().speed)}">#{playerProfile.getArmor().speed}%</font><br/>
                </div>

                <div class="tooltip" id="headTooltip">
                    <h2>#{playerProfile.getHelm().name}</h2>
                    <b>Stats:</b><br/>
                    Damage: <font color="#{playerProfile.getColor(playerProfile.getHelm().damage)}">#{playerProfile.getHelm().damage}%</font><br/>
                    Armor:  <font color="#{playerProfile.getColor(playerProfile.getHelm().armor)}">#{playerProfile.getHelm().armor}%</font><br/>
                    Haste:  <font color="#{playerProfile.getColor(playerProfile.getHelm().haste)}">#{playerProfile.getHelm().haste}%</font><br/>
                    Movementspeed:  <font color="#{playerProfile.getColor(playerProfile.getHelm().speed)}">#{playerProfile.getHelm().speed}%</font><br/>
                </div>

                <div class="tooltip" id="bootTooltip">
                    <h2>#{playerProfile.getBoots().name}</h2>
                    <b>Stats:</b><br/>
                    Damage: <font color="#{playerProfile.getColor(playerProfile.getBoots().damage)}">#{playerProfile.getBoots().damage}%</font><br/>
                    Armor:  <font color="#{playerProfile.getColor(playerProfile.getBoots().armor)}">#{playerProfile.getBoots().armor}%</font><br/>
                    Haste:  <font color="#{playerProfile.getColor(playerProfile.getBoots().haste)}">#{playerProfile.getBoots().haste}%</font><br/>
                    Movementspeed:  <font color="#{playerProfile.getColor(playerProfile.getBoots().speed)}">#{playerProfile.getBoots().speed}%</font><br/>
                </div>

                <div class="tooltip" id="gloveTooltip">
                    <h2>#{playerProfile.getGloves().name}</h2>
                    <b>Stats:</b><br/>
                    Damage: <font color="#{playerProfile.getColor(playerProfile.getGloves().damage)}">#{playerProfile.getGloves().damage}%</font><br/>
                    Armor:  <font color="#{playerProfile.getColor(playerProfile.getGloves().armor)}">#{playerProfile.getGloves().armor}%</font><br/>
                    Haste:  <font color="#{playerProfile.getColor(playerProfile.getGloves().haste)}">#{playerProfile.getGloves().haste}%</font><br/>
                    Movementspeed:  <font color="#{playerProfile.getColor(playerProfile.getGloves().speed)}">#{playerProfile.getGloves().speed}%</font><br/>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
