<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="content">
                <h3>View Match</h3>
                <h:dataTable var="p" value="#{matchInfo.getPlayerInfo(param['id'])}"
                             styleClass="full-width-table"
                             headerClass="full-width-table-header"
                             rowClasses="full-width-table-row">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Player"/>
                        </f:facet>
                        <h:outputLink id='profileLink' value='viewPlayer.xhtml'>
                            <f:param name='id' value='#{p.player.id}'/>
                            <h:outputText value="#{p.player.userName}"/>
                        </h:outputLink>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Kills"/>
                        </f:facet>
                        <h:outputText value="#{p.kills}" style="color:green"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Assists"/>
                        </f:facet>
                        <h:outputText value="#{p.assists}" style="color:blue"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Deaths"/>
                        </f:facet>
                        <h:outputText value="#{p.deaths}" style="color:red"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Total score"/>
                        </f:facet>
                        <h:outputText value="#{p.assists+p.kills-p.deaths}" style="color:#{playerProfile.getColor(p.assists+p.kills-p.deaths)}"/>
                    </h:column>
                </h:dataTable>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
