<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h3 style="position:absolute; top: 45px; left: 5px">Gear info:</h3>
    <h:panelGrid columns="2" class="playerInfoTable">
        <h:outputText value="Armor:"/>
        <h:outputText value="#{playerProfile.getTotalArmor()}" style="color:#{playerProfile.getColor(playerProfile.getTotalArmor())}"/>
        <h:outputText value="Damage:"/>
        <h:outputText value="#{playerProfile.getTotalDamage()}" style="color:#{playerProfile.getColor(playerProfile.getTotalDamage())}"/>
        <h:outputText value="Cooldown reduction:"/>
        <h:outputText value="#{playerProfile.getTotalCooldownReduction()}" style="color:#{playerProfile.getColor(playerProfile.getTotalCooldownReduction())}"/>
        <h:outputText value="Movement speed::"/>
        <h:outputText value="#{playerProfile.getTotalMovementSpeed()}" style="color:#{playerProfile.getColor(playerProfile.getTotalMovementSpeed())}"/>
    </h:panelGrid>
</html>
