<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h3 style="position:absolute; top: 45px; left: 5px">Player info:</h3>
    <h:panelGrid columns="2" class="playerInfoTable">
        <h:outputText value="User Name:" />
        <h:outputText value="#{playerProfile.getPlayer().userName}"/>
        <h:outputText value="Rating:"/>
        <h:outputText value="#{playerProfile.getRating()}"/>
    </h:panelGrid>
</html>
