<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="js.js"></script>
    <!--
    
      THIS IS THE OVERALL LAYOUT FOR THE SITE (not accessible from outside)
    
    -->
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="normalize.css"  />
        <h:outputStylesheet library="css" name="layout.css"  />
        <h:outputStylesheet library="css" name="style.css"  />
        <title>Warlock Armory</title>
     
    </h:head>

    <h:body>
        <header>
            <hgroup> 
                <h1>Armory
                 <h:graphicImage value="resources/img/dagger.png" height="64" width="50" styleClass="headerImg"/>  
                </h1>       
            </hgroup>
        </header>
        <nav class="menu"> 
            <ul id ="nav">
                <li><h:link value="Index" outcome="home"></h:link></li>
                 <li><h:link value="Armory" outcome="armory"></h:link></li>
                <li><h:link value="Leaderboard" outcome="leaderboard"></h:link></li>
            </ul>
        </nav>
        <div id="wrapper">
        <div id="content" class="right_content">
            <ui:insert name="content">Content</ui:insert>
        </div>
        </div>
        <footer>
            <p> Webapplication project</p> 
        </footer>
    </h:body>

</html>
