<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- slightly modified from workshop -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="jsTooltip.js"></script>
    <h:head>
        <title>Warlock Armory</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="content"> 
                    <h1>Login to handle the database</h1>
                    <form method="post" action="j_security_check">
                        <h:panelGrid columns="2">
                            <h:outputLabel for="j_username" value="Username: " />
                            <h:inputText id="j_username" size="10" autocomplete="on"/>             
                            <h:outputLabel for="j_password" value="Password: " />
                            <h:inputSecret id="j_password" size="10" autocomplete="off" />
                            <h:commandButton id="login" value="Login" />
                        </h:panelGrid>
                    </form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

