.menu ul{
    padding: 0 0 0 0;
}

.menu ul li {
    /* Make menu horizontal */
    display: inline;  
}

.submenu ul li {
    /* Make submenu horizontal */
    display: inline;
}

fieldset label{
    /* Make input form vertical */
    display: block;
}

html, body {
    margin: 0;
    background: #f0f0e7;
    padding: 0
}

#nav {
    margin-top:0%;
    width: 99%;
    list-style: none;
    padding-bottom: 0%;
    padding-top: 0%;
    margin-bottom: 5%;
    padding-left: 1%;
    background: #2e2e2e;
    display: block;
    overflow: hidden;
    font-size: 0.9em;
    text-transform:capitalize; 
}

#nav2 {
    margin-top:5%;
    margin-bottom: 0%;
    width: 99%;
    list-style: none;
    padding-left: 1%;
    background: #2e2e2e;
    display: block;
    overflow: hidden;
    font-size: 0.9em;
    text-transform:capitalize; 

}

#wrapper {
    width: 1000px;
    height: 100%;
    min-height: 700px;
    background :#ffffff;
    margin-left: 10%;
    margin-right: 10%;
    border: 12px solid #2e2e2e;
    position:relative;
    margin: 0 auto;
}

#nav ul {
    list-style: none;
    width: 400px;
    margin: 0 auto;
    padding: 0; }
#nav li {
    display: inline;
    float: left;
}
#nav li a {
    display: block;
    float: left;
    padding: 13px 20px;
    color: white;
    text-decoration: none;
}
#nav li a:hover {
    background: cadetblue;
}

#nav2 ul {
    list-style: none;
    width: 400px;
    margin: 0 auto;
    padding: 0; }
#nav2 li {
    display: inline;
    float: left;
}
#nav2 li a {
    display: block;
    float: left;
    padding: 10px 20px;
    color: white;
    text-decoration: none;

}
#nav2 li a:hover {
    background: cadetblue;
}

.headerImg{
    overflow: hidden;
    position:relative;
    top:0.5em;
}

.characterImg{
    overflow: hidden;
    width:500px;
    position:absolute;
    right:0px;
    top:0px;
}

.characterHelmImg{
    overflow: hidden;
    width:150px;
    height:100px;
    position:absolute;
    right:175px;
    top:0px;
}


.characterArmorImg{
    overflow: hidden;
    width:250px;
    height:400px;
    position:absolute;
    right:125px;
    top:105px;
}

.characterGloveImg1{
    overflow: hidden;
    width:100px;
    height:170px;
    position:absolute;
    right:298px;
    top:237px;
}

.characterGloveImg2{
    overflow: hidden;
    width:100px;
    height:170px;
    position:absolute;
    right:116px;
    top:237px;
}


.characterBootImg{
    overflow: hidden;
    width:250px;
    height:200px;
    position:absolute;
    right:129px;
    top:491px;
}

.tooltip {
    width: 250px;
    left:230px;
    position:fixed;
    padding: 5px;
    background-color: white;
    border: 3px solid rgb(195,151,51);
    border-radius : 5px;
}

.trigger {
    cursor : help;
}

/*
Leaderboard table css here:
*/
.full-width-table{   
    border-collapse:collapse;
    width:100%;
}

.full-width-table-header{
    color:#FFFFFF;
    text-align:left;
    background:#000000;
    border-bottom:1px solid #BBBBBB;
    padding:16px;
}

.full-width-table-header a:link{
    color:#FFFFFF;
    font-style: normal;
}

.full-width-table-header a:visited{
    color:#FFFFFF;
}

.full-width-table-header:hover{
    text-align:left;
    background: cadetblue;
    border-bottom:1px solid #BBBBBB;
    padding:16px;
}

.full-width-table-row{
    text-align:left;
    background:none repeat scroll 0 0 #FFFFFF;
    border-top:1px solid #BBBBBB;
}

.full-width-table-row a:link{
    color:#000000;
}

.full-width-table-row a:visited{
    color:#000000;
}

.full-width-table-row a:hover{
    color:#BBBBBB;
}


/*
viewPlayer's 'Match table css here:
*/
.player-match-table{   
    border-collapse:collapse;
} 
.player-match-table-header{
    width:218px;
    color:#FFFFFF;
    text-align:left;
    background:#000000;
    border-bottom:1px solid #BBBBBB;
    padding:16px;
}

.player-match-table-row{
    text-align:left;
    background: #FFFFFF;
    border-top:1px solid #BBBBBB;
    padding:16px;
}

.player-match-table-row a:link{
    color:#000000;
}

.player-match-table-row a:visited{
    color:#000000;
}

.player-match-table-row a:hover{
    color:#BBBBBB;
}

.playerInfoTable {
    position:relative;
    left:0px;
    text-align:left;
    border-top: 12px solid #2e2e2e;
    border-right: 12px solid #2e2e2e;
    border-bottom: 12px solid #2e2e2e;
    width:501px;
    background: #FFFFFF;
}

.playerMatchInfo {
    position:relative;
    top:50px;
    left:0px;
}
