
#wrapper {
	width: 100%;
        height: 100%;
	background: #deff90;
	padding: 55px 25px 25px 25px;
	border: 12px solid #2e2e2e;
	position:relative;
}

#nav {
        width: 100%;
	list-style: none;
	padding: 0;
	background: #2e2e2e;
	display: block;
	overflow: hidden;
	font-size: 0.9em;
	text-transform:capitalize;
}
#nav li {
	display: inline;
}
#nav li a {
	display: block;
	float: left;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
}
#nav li a:hover {
	background: cadetblue;
}

.headerImg{
    overflow: hidden;
    position:relative;
    top:0.5em;
}