<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    <script type="text/javascript" src="jquery.js"></script>
    <!--
      THIS IS THE OVERALL LAYOUT FOR THE SITE (not accessible from outside)
    -->
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="normalize.css"  />
        <h:outputStylesheet library="css" name="style.css"  />
        <title>Warlock Armory</title>

    </h:head>

    <h:body>
        <script type="text/javascript" src="jsTooltip.js"></script>
        <header>
            <nav class="menu"> 
                <ul id ="nav">
                    <li> <h:graphicImage value="/resources/img/invdaggertt.png" height="40" width="100" styleClass="headerImg"/></li>
                    <li><h:link value="Index" outcome="home"></h:link></li>
                    <li><h:link value="Find Player" outcome="findPlayer"></h:link></li>
                    <li><h:link value="Leaderboard" outcome="leaderboard"></h:link></li>
                    <li><h:link value="Admin" outcome="adminPage"></h:link></li>
                </ul>
            </nav>
        </header>

        <div id="wrapper">
            <div id="content" class="right_content">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </div>
        <footer>
            <nav class="menu">
                <ul id="nav2">
                    <li><h:link outcome="home">Made by Dagger feat Big D</h:link></li>
                </ul>
            </nav>
        </footer>
    </h:body>

</html>
